.genres {
  margin-top: 0px;
  float: right;
  text-align: center;

  display: inline;
}

h3 {
  font-size: 1.5rem;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  height: -100px;
}

td {
  display: inline-block;
}
