.titleInput {
  height: 40px;
  width: 300px;
  margin-right: 15px;
  text-align: center;
}

.posterInput {
  height: 40px;
  width: 300px;
  text-align: center;
}

.descriptionInput {
  margin-top: 25px;
  height: 120px;
  width: 615px;
  text-align: center;
}

.dropdown {
  margin-top: 25px;
  margin-right: 80px;
  width: 400px;
  height: 40px;
  margin-bottom: 25px;
}

.form {
  margin-top: 25px;
}
