.description {
  text-align: center;
  padding-right: 50px;
}

.image {
  margin-top: 15px;
}

p {
  font-size: 1rem;
}

.btn-outline-primary {
  margin-top: 15px;
  height: 30px;
  padding-top: 5px;
  color: #877c47;
}
