.movieBox {
  margin-bottom: 20px;
}

.itemDiv {
  background-color: black;
}

.titleControl {
  height: 25px;
  padding-bottom: 50px;
  padding-top: 10px;
  vertical-align: center;
}

.btn-outline-warning {
  height: 30px;
  padding-top: 5px;
  color: #877c47;
}
